/*! adjust.css v1.0.2 | MIT License | http://git.io/mC9qUA */
/* developed by Edoardo Conti */


/**
 - 1. Impostazioni generali di base
 ===========================================================================
**/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizelegibility;
		/*migliorando la leggibilità*/
    word-wrap: break-word;
    clear: both;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
    text-rendering: optimizelegibility;
}



/**
 - 2. Colori ( principali e scala di grigi );
 ===========================================================================
**/

@pattern-blue:	#428bca;		/*principale (per il default usare @gray-dark)*/
@pattern-azure:		#5bc0de;	/*informazioni*/
@pattern-green:	#5cb85c;		/*successo*/
@pattern-orange:	#f0ad4e;	/*attenzione*/
@pattern-red:	#d9534f;		/*errore*/

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 60%);   // #999
@gray-lighter: lighten(#000, 93.5%); // #eee



/**
 - 3. Body
 ===========================================================================
**/

body {
    background: #fff;
	color: @gray-dark;
    margin: 0;
    padding: 0px;
    font-size: 14px;
    line-height: 1.42857;
}



/**
 - 4. Classi procedurali 
 ===========================================================================
**/

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-backface-visibility: hidden;
		/*importante per webkit*/;
}

.awful {
    margin: 0px;
    padding: 0px;
}

.sameline {
    white-space: nowrap;
	/*tutto su una riga*/;
}

.showed {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

.disabled {
    opacity: 0.8;
    cursor: default;
}

.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}

/* ## definizioni per content ## */
p, h1, h2, h3, h4 {
    orphans: 3;
    widows: 3;
}

p {
    margin: 0 0 10px;
}

b, strong {
    font-weight: 600;
}

em, italic {
	font-style: italic;	
}

small, .small {
    font-size: 85%;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


/* ## titoli ## */
h1, h2, h3, h4 {
    page-break-after: avoid;
}

h1, h2, h3, .h1, .h2, .h3, h4, .h4 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
	font-size: 18px;	
}



/**
 - 5. Links 
 ===========================================================================
**/

a {
    background: transparent;
}

a:active,
a:hover {
    outline: 0;
}



/**
 - 6. Immagini 
 ===========================================================================
**/

img {
    border: 0 none;
    page-break-inside: avoid;
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 5px;
}

.img-circle {
    border-radius: 50%;
}

.img-thumb {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
	padding: 4px;	
}


/**
 - 7. Form
 - 8. Bottoni, input e textaree
 ===========================================================================
**/
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner {
    border: 0 none;
    padding: 0;
}

input[type="search"] {
    -moz-box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
}



/**
 - 9. Tabelle
 ===========================================================================
**/


table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}
